.PlayModeContainer {
  height: 400px;
  width: 90vw;
  background-color: rgba(236, 236, 236, 0.01);
  margin: 10px 0px;
}

.Bar {
  margin-inline: 1px;
  /* background-color: royalblue; */
}

.BarContainer {
  height: 100%;
  width: auto;
}

.ArrayContainer {
  background-color: rgba(236, 236, 236, 0.01);
  height: 400px;
  width: 100%;

  display: flex;
  flex-direction: row;
  overflow-x: auto;
  border-radius: 5px;
  /* margin: 10px 0px; */
}

.Bar {
  margin-inline: 1px;
  background: linear-gradient(rgb(103, 3, 204));
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  display: flex;
  flex-direction: column;
  font: 600 13px "Poppins", sans-serif;
  color: white;
  justify-content: flex-end;
  align-items: center;
  transition: height 0.1s ease-in-out;
}

.Bar:hover {
  /* transform: translateY(10px); */
  background: linear-gradient(rgb(84, 1, 168));
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
  /* animation: float 1s ease-in-out infinite; */
}

.index {
  box-sizing: border-box;
  background-color: khaki;
  color: black;
  height: auto;
  margin-inline: 1px;
  font: 500 0.7rem "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.highlightIndex {
  background: #4ef578;
  color: white;
  margin-inline: 1px;
}

@media (max-width: 800px) {
  .index {
    font: 300 0.4rem "Poppins", sans-serif;
  }
}
