.userInputs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: auto;

  /* padding: 20px; */
  box-sizing: border-box;

  background-color: rgb(36, 31, 50);
}

.sliderDiv {
  height: auto;
  box-sizing: border-box;
  padding: 5px;
  width: 30%;

  border-radius: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-inline: 18px;
}

.buttonDiv {
  display: flex;
  gap: 10px;
}

.utilitiesDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 40%;
  /* flex-wrap: wrap; */
}

.utilities {
  display: flex;
}

@media (max-width: 850px) {
  .userInputs {
    flex-direction: column;
    align-items: center;
  }
  .sliderDiv {
    height: auto;
    box-sizing: border-box;
    padding: 5px;
    width: 100% !important;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-inline: 18px;
  }
  .utilitiesDiv {
    width: 100%;
  }
}

.speedSlider :global(.MuiSlider-track) {
  height: 10px;
}

.speedSlider :global(.MuiSlider-rail) {
  height: 10px;
}

.speedSlider :global(.MuiSlider-thumb) {
  height: 20px;
  width: 20px;
}

.valueSlider :global(.MuiSlider-track) {
  height: 10px;
}

.valueSlider :global(.MuiSlider-rail) {
  height: 10px;
}

.valueSlider :global(.MuiSlider-thumb) {
  height: 20px;
  width: 20px;
}

.valueSlider :global(.MuiSlider-track),
.valueSlider :global(.MuiSlider-thumb) {
  background-color: #4caf50;
}
.valueSlider :global(.MuiSlider-rail) {
  background-color: #3a763c;
}

.sliderDiv {
  height: auto;
  box-sizing: border-box;
  padding: 5px;
  width: 30%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-inline: 18px;
}

.speedDiv,
.valueDiv {
  background-color: rgba(236, 236, 236, 0.042);
}

.Inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.userArrayInput {
  width: 100%;
}

.userArrayInput > input[type="text"] {
  width: 100%;
  height: 40px;
  padding-inline: 10px;
  box-sizing: border-box;
  background-color: rgba(236, 236, 236, 0.042);
  border: none;
  color: #f5f5f5;
  font-size: 0.9rem;
  border-bottom: 5px;
  outline: none;
}

.userArrayInput > div {
  font-size: 0.9rem;
  color: white;
  padding-inline: 10px;
  background-color: rgba(220, 20, 60, 0.489);
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-style: italic;
}

@media (max-width: 580px) {
  .userArrayInput > div {
    font-size: 0.8rem;
  }
}

/* InputFields.module.css */

.buttonDiv {
  display: flex;
  gap: 10px;
  /* margin: 5px 0px; */
}

.buttonStart,
.buttonReset {
  border: none;
  width: auto;
  height: auto;
  padding: 7px;
  padding-inline: 10px;
  border-radius: 4px;
}

.buttonStart {
  background-color: #4caf50;
  color: white;
}

.buttonStart:hover {
  background-color: #3a763c;
}

.buttonReset {
  background-color: crimson;
  color: white;
}

.buttonReset:hover {
  background-color: rgb(144, 3, 32);
}

.buttonStart:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.modeSwitcher {
  display: flex;
  width: auto;
  height: 37px;
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font: 500 13px "Roboto", sans-serif;
  color: white;
  box-sizing: border-box;
}

.modeSwitcher > .Divider {
  height: 100%;
  width: 2px;
  background-color: rgba(102, 51, 153, 0.419);
}

/* NavLink styles */
.modeToggleLink:nth-of-type(1),
.modeToggleLink:nth-of-type(2) {
  /* width: 100%; */
  width: auto;
  height: 100%;
  padding-inline: 10px;

  /* border-radius: 6px; */
  color: white;
  background-color: rgba(236, 236, 236, 0.042);
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.modeToggleLink:nth-of-type(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.modeToggleLink:nth-of-type(2) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modeToggleLink:hover {
  background-color: rgb(29, 3, 56);
}
.modeToggleLinkActive {
  background-color: rgb(103, 3, 204) !important;
  color: white !important;
}

.pointsDiv {
  width: 85px;
  height: 9px;
  padding: 14px;
  /* margin-right: 5px; */
  color: white;
  text-align: center;
  font: 500 14px "Roboto", sans-serif;
  border-radius: 7px;
  background-color: rgba(240, 248, 255, 0.045);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showTutorialBtn {
  width: 40px;
  height: 37px;
  border: none;
  background-color: rgba(236, 236, 236, 0.042);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.showTutorialBtn:hover {
  background-color: rgb(103, 3, 204);
}

.modeSwitcherAndTutorial {
  display: flex;
  /* gap: 5px; */
}
